.about {
    padding: 133px 0 60px 0;
    position: relative;
    z-index: 2;
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 80px 0;
    }
    &__info-img {
        border-radius: 50%;
        width: 580px;
        height: 587px;
        object-fit: cover;
    }
    &__description {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-variant: small-caps;
        max-width: 580px;
        color: $white;
    }
    .title {
        position: absolute;
        top: 188px;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-circle {
        position: absolute;
        top: -105px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}