.cover {
    width: 100%;
    padding: 206px 0 0 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(81deg, #131313 49.88%, rgba(31, 33, 88, 0.49) 67.38%, rgba(77, 84, 223, 0.67) 87.09%, #F46FFB 104.44%, rgba(116, 62, 225, 0.39) 104.44%);
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        max-width: 580px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    &__right {
        width: 580px;
        min-height: 100%;
        position: relative;
        overflow: hidden;
    }
    &__right-bg {
        position: absolute;
        right: 0px;
        bottom: -123px;
    }
    &__circle {
        width: 560.698px;
        height: 560.698px;
        border-radius: 560.698px;
        border: 3px solid rgba(255, 255, 255, 0.11);
        background: var(--Gradient-2, conic-gradient(from 161deg at -17.87% 9.79%, #4D54DF 53.34543585777283deg, #743EE1 254.16277885437012deg, #F46FFB 282.09120512008667deg, #3AC5FC 357.3625946044922deg));
        box-shadow: 3px 1px 25px 0px rgba(204, 118, 208, 0.50), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        filter: blur(12.5px);
        position: absolute;
        right: 0;
        top: 0;
    }
    &-subtitle {
        color: $white;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin: 0 0 24px 0;
    }
    &-title {
        text-align: center;
        margin: 0 0 40px 0;
    }
    &-description {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-variant: small-caps;
        color: $white;
        max-width: 374px;
        text-wrap: balance;
    }
}
