.form {
    padding: 60px 0;
    &__title {
        margin: 0 0 40px 0;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 80px 0;
    }
    &__img__wrapper {
        width: fit-content;
        height: fit-content;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(116, 62, 225, 0.30);
            width: 482.478px;
            height: 482.478px;
            border-radius: 50%;
            z-index: 2;
            animation: pulse 1.5s linear forwards;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 580px;
            height: 580px;
            background: rgba(116, 62, 225, 0.20);
            border-radius: 50%;
            animation: pulse 1.5s linear forwards;
        }
    }
    &__img {
        margin: 0 0 0 0;
        position: relative;
        z-index: 3;
    }
    &__fields {
        width: 580px;
        display: flex;
        flex-direction: column;
    }
}
@keyframes pulse {
    0% {
      transform: scale(0.5), translate(-50%, -50%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: scale(1.2), translate(-50%, -50%);
      opacity: 1;
    }
  }