//mixin.scss
//Переменные для сетки
$max-width: 100%;

$max-breakpoints: (
        sx: 425px,
        sm: 768px,
        md: 992px,
        lg: 1200px,
        xl: 1440px,
        xx: 1919px
);

@mixin break($size) {
  @media (max-width: map-get($max-breakpoints, $size)) {
    @content;
  }
}
//inputs
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}