.my-project {
    padding: 60px 0;
    &-title {
        text-align: center;
        margin: 0 0 40px 0;
    }
    &__list {
        width: 100%;
        height: 1200px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 64px 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 580px;
        &:first-child {
            margin: 0 0 64px 0;
        }
    }
    &__item-image {
        margin: 0 0 24px 0;
    }
    &__item-subtitle {
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-variant: small-caps;
        text-align: center;
        color: $white;
    }
    &__more-btn {
        text-align: center;
        display: block;
    }
    &__more-btn span {
        display: inline-block;
        background: var(--Gradient, linear-gradient(90deg, #3AC5FC -16.98%, #4D54DF 22.49%, #743EE1 60.94%, #F46FFB 110.38%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: relative;
        &:hover {
            &::after {
                width: 100%;
            }
        }
        &::after {
            content: "";
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            background: var(--Gradient, linear-gradient(90deg, #3AC5FC -16.98%, #4D54DF 22.49%, #743EE1 60.94%, #F46FFB 110.38%));     
            transition: $transition_def;
        }
    }
}