.price {
    padding: 60px 0;
    &__title {
        text-align: center;
        margin: 0 0 40px 0;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        margin: 0 0 64px 0;
    }
    &__info__list {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    &__info__item {
        display: flex;
        align-items: center;
        margin: 0 0 15px 0;
        &:last-child {
            margin: 0;
        }
        figure {
            margin: 0 5px 0 0;
        }
    }

    &__more-btn {
        text-align: center;
        display: block;
    }
    &__more-btn span {
        display: inline-block;
        background: var(--Gradient, linear-gradient(90deg, #3AC5FC -16.98%, #4D54DF 22.49%, #743EE1 60.94%, #F46FFB 110.38%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: relative;
        &:hover {
            &::after {
                width: 100%;
            }
        }
        &::after {
            content: "";
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -7px;
            left: 50%;
            transform: translateX(-50%);
            background: var(--Gradient, linear-gradient(90deg, #3AC5FC -16.98%, #4D54DF 22.49%, #743EE1 60.94%, #F46FFB 110.38%));     
            transition: $transition_def;
        }
    }
}