.services {
    padding: 100px 0;
    color: white;
    .title {
        text-align: center;
        margin: 0 0 40px;
    }
    .swiper-wrapper {
        align-items: center;
        min-height: 600px;
        width: 90%;
        margin: 0 auto;
    }
    .swiper-slide {
        max-width: fit-content;
        width: 100%;
        img {
            width: 300px;
            height: 500px;
            transition: $transition_def;
        }
    }
    .swiper-slide-active {
        img {
            width: 400px;
            height: 600px;
            transition: $transition_def;
        }
    }
}