.wrapper {
    //max-width: 1200px;
    width: 83%;
    max-width: 1200px;
    margin: 0 auto;
}
h2.title {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: $white;
}
h3.title {
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    color: $white;
}
label span {
    display: flex;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: 0.15px;
    margin: 0 0 5px 13px;
}
input.input-name, input.input-email, textarea {
    width: 100%;
    padding: 28px 24px;
    margin: 0 0 32px 0;
    border-radius: 35px;
    background: rgba(116, 62, 225, 0.30);
    color: $white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
    outline: none;
    resize: none;
    &::placeholder {
        color: rgba(255, 255, 255, 0.50);
    }
}
.media__links {
    position: fixed;
    top: 50vh;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    &-item {
        width: 48px;
        height: 48px;
        margin: 0 0 40px 0;
        transition: $transition_def;
        position: relative;
        opacity: 0;
        //animation-delay находится в компоненте
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1);
        }
        &:last-child {
            margin: 0;
        }
    }
}
.media__links-mounted {
    .media__links-item {
        animation: mounted-media-item 0.6s ease-in-out forwards;
    }
}
@keyframes mounted-media-item {
    0% {
        right: 0;
        opacity: 0;
    }
    100% {
        right: 32px;
        opacity: 1;
    }
}
.btn-def {
    padding: 12px 37px;
    border-radius: 66px;
    background: $primary;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
    transition: $transition_def;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0.38) 100%), #743EE1;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: $transition_def;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &:hover{
        &::after {
            opacity: 1;
        }

    }
    &:active {  
        background: #AA93DB;
        &::after {
            opacity: 0;
        }
    }
    span {
        position: relative;
        z-index: 5;
    }
}
.btn-circle {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
    background-color: $primary;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    transition: $transition_def;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0.38) 100%), #743EE1;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: $transition_def;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &:hover{
        &::after {
            opacity: 1;
        }

    }
    &:active {  
        background: #AA93DB;
        &::after {
            opacity: 0;
        }
    }
    span {
        text-align: center;
        position: relative;
        z-index: 5;
    }
}